{% extends "layout.html" %}

{% block title %}
    Round 3: Name that woman!
{% endblock %}

{% block main %}
    <!-- Sports -->
    <!-- Q0 - https://www.npr.org/sections/thetorch/2016/08/05/488435043/an-american-muslim-fencer-lunges-into-u-s-olympic-history-in-rio -->
    <!-- Q1 - http://www.cnn.com/2017/11/05/sport/shalane-flanagan-new-york-city-marathon-first-american-woman-40-years/index.html -->
    <!-- Q2 - http://www.espn.com/espnw/sports/article/15102506/women-national-team-files-wage-discrimination-action-vs-us-soccer-federation -->
    <!-- Q3 - https://www.usatoday.com/story/sports/tennis/aus/2017/01/28/serena-williams-australian-open-grand-slam-record/97181896/ -->
    <!-- Q4 - http://www.sfchronicle.com/news/article/Beach-volleyball-player-Kerri-Walsh-Jennings-set-8316364.php -->
    <!-- Q5 - https://www.usatoday.com/story/life/entertainthis/2016/11/22/dancing-with-the-stars-season-23-winners-laurie-hernandez-val-chmerkovskiy/94277530/ -->
    <!-- Q6 - https://www.nascar.com/news-media/2017/11/22/holly-cain-danica-patrick-finishes-her-trailblazing-career-on-her-terms-indy-500-daytona-500/ -->
    <!-- Q7 - http://www.wnba.com/news/elena-delle-donne-named-2015-wnba-mvp/ -->
    <!-- Q8 - http://olympics.nbcsports.com/2017/07/25/katie-ledecky-swimming-world-championships-1500-200-freestyle/ -->
    <!-- Q9 - https://www.npr.org/sections/thetorch/2016/08/10/489554062/-because-i-can-cyclist-kristin-armstrong-rides-to-third-gold-medal-at-age-42 -->

    <!-- Politics -->
    <!-- Q10 - https://www.biography.com/people/dorothy-height-40743 -->
    <!-- Q11 - https://www.usatoday.com/story/news/politics/elections/2016/10/18/victoria-woodhull-hillary-clinton-first-woman/92051476/ -->
    <!-- Q12 - https://www.theatlantic.com/politics/archive/2016/07/hillary-clinton-first-female-presidential-nominee/493163/ -->
    <!-- Q13 - http://www.history.com/topics/black-history/harriet-tubman -->
    <!-- Q14 - https://www.plannedparenthood.org/files/9214/7612/8734/Sanger_Fact_Sheet_Oct_2016.pdf -->
    <!-- Q15 - https://www.washingtonpost.com/graphics/national/obama-legacy/michelle-obama-biography.html -->
    <!-- Q16 - http://time.com/4538557/shailene-woodley-arrest-pipeline/ -->
    <!-- Q17 - http://fortune.com/2017/11/08/election-results-2017-women-trump/ -->
    <!-- Q18 - https://www.huffingtonpost.com/entry/grace-and-frankie-actress-writing-a-book-to-help-women-run-for-office_us_591362f9e4b05e1ca204598b?utm_hp_ref=women-in-politics -->
    <!-- Q19 - https://www.theguardian.com/world/2013/jun/26/texas-senator-wendy-davis-abortion-bill-speech -->

    <!-- Arts -->
    <!-- Q20 - http://www.businessinsider.com/the-rags-to-riches-story-of-jk-rowling-2015-5 -->
    <!-- Q21 - http://www.theartstory.org/artist-okeeffe-georgia.htm -->
    <!-- Q22 - http://www.rollingstone.com/music/news/carole-kings-beautiful-opens-on-broadway-20140113 -->
    <!-- Q23 - https://www.biography.com/people/emily-dickinson-92741903 -->
    <!-- Q24 - http://www.harpersbazaar.com/fashion/designers/g6477/designers-who-changed-fashion/ -->
    <!-- Q25 - http://www.vulture.com/2017/09/hulu-the-handmaids-tale-how-it-changed-the-game.html -->
    <!-- Q26 - https://www.fastcompany.com/40488886/lena-dunham-jenni-konner-on-how-lenny-letter-editors-develop-branded-content-ideas -->
    <!-- Q27 - https://www.economist.com/news/books-and-arts/21726052-new-book-seeks-discover-people-and-places-inspired-fiction-how-charlotte -->
    <!-- Q28 - http://www.laweekly.com/music/dubstep-violinist-lindsey-stirling-is-more-popular-than-lady-gaga-sort-of-7232384 -->
    <!-- Q29 - http://www.famousfashiondesigners.org/vera-wang -->

    <!-- Pop Culture -->
    <!-- Q30 - http://variety.com/2017/digital/news/netflix-lures-shonda-rhimes-away-from-abc-studios-report-1202526464/ -->
    <!-- Q31 - http://www.latimes.com/entertainment/la-et-entertainment-news-updates-august-taylor-swift-groping-case-verdict-1502752176-htmlstory.html -->
    <!-- Q32 - https://www.washingtonpost.com/news/morning-mix/wp/2017/04/28/ellen-made-gay-ok-tv-host-celebrates-20th-anniversary-of-her-coming-out-sitcom-episode/?utm_term=.5758cb5dfc43 -->
    <!-- Q33 - https://www.hollywoodreporter.com/news/lupita-nyongo-details-story-sexual-harassment-by-harvey-weinstein-1050585 -->
    <!-- Q34 - https://www.huffingtonpost.com/entry/bethenny-frankel-sends-four-planes-to-puerto-rico-for-hurricane-relief_us_59d4d80ce4b06226e3f4ff62 -->
    <!-- Q35 - https://www.usatoday.com/story/life/entertainthis/2017/11/29/lady-bird-breaks-rotten-tomatoes-record-100-positive-reviews/905237001/ -->
    <!-- Q36 - http://people.com/style/reese-witherspoon-wsj-magazine-entertainment-innovator-2017/ -->
    <!-- Q37 - https://www.grammy.com/grammys/videos/adele-wins-album-year-grammy-25 -->
    <!-- Q38 - http://www.etonline.com/debra-messing-gets-emotional-hollywood-walk-fame-ceremony-i-fulfilled-all-my-dreams-exclusive-88744 -->
    <!-- Q39 - http://metro.co.uk/2017/11/30/beyonce-and-cristiano-ronaldo-and-their-twins-top-most-liked-instagram-photos-of-the-year-7120511/ -->

    <div style="padding:10px">
        <p><h3 class="instructions3">Name the talented and influential woman in each description.</h3></p>
    </div>
    <div>
        <div style="padding:10px">
            <label for="category" style="font-size:120%;">Category:</label><p id="category" style="color:white;font-size:120%;">{{ category }}</p>
        </div>
    </div>
    <div>
        {% for question in questions %}
            <p class="questions_three" style="color:white;padding:10px;font-size:120%;">{{ question }}</p>
        {% endfor %}
    </div>
    <div>
        <form style="padding:10px" action="{{ url_for('three') }}" method="post">
            <fieldset>
                <div class="form-group" class="ui-widget">
                    <input autofocus class="form-control" id="user_answer_three" name="user_answer_three" type="text">
                    <input type="hidden" id="answer_map_three" name="answer_map_three" value="">
                    <button class="btn btn-primary" type="submit" id="final_answer">Final Answer</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div>
        <div style="padding:10px">
            <table class="table">
                {% for answer in answers %}
                    <td class="answers_three" style="color:white;width:10%;">{{ answer }}</td>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}